* {
    box-sizing: border-box;
    color: inherit;
}

:root {
    --primary-font: 'Rubik', sans-serif;
    --primary-color: #3CDBC0;
    --light-color: #FFFFFF;
    --dark-color: #4a4a4a;
}

.header {
    width: 100%;
}