* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

:root {
    /*FONTS*/
    --primary-font: 'Rubik', sans-serif;
    /*COLORS*/
    --primary-color: #3CDBC0;
    --light-color: #FFFFFF;
    --dark-color: #4a4a4a;
}

body {
    box-sizing: border-box;
    width: 100%;
    font-family: var(--primary-font);
}


/* HEADER */

.header {
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    background-color: var(--light-color);
    padding-bottom: 10px;
    padding-top: 13px;
    position: fixed;
    top: 0;
    /*border: 1px solid red;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 155px;
    margin: auto;
    align-items: center;
    /*border: 1px solid red;*/
}

.logo {
    width: 155px;
}

.menu {
    display: flex;
    align-items: center;
    margin: auto;
/*border: 1px solid red;*/
}

.menu-nav {
    text-align: center;
    padding-top: 10px;
    margin: auto;
    display: flex;
}

.menu-link {
    justify-content: space-between;
    font-size: 16px;
    color: var(--dark-color);
    padding: 10px;
    text-transform: uppercase;
}

/* MAIN */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    /*border: 1px solid red;*/
}

.main h1 {
    text-align: center;
    font-size: 30px;
    color: var(--light-color);
    padding-top: 10vh;
    text-transform: capitalize;
    width: 155px;
}


/* MEDIAQ */

@media all and (min-width: 768px) {
    
    .wrapper {
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu {
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    
    .main h1 {
        font-size: 40px;
        width: 200px;
    }

}